# Personal Discord Token
**/assetFiles/config.py

# Folder Stuff
  # Root
    work_log.txt
    # assetFiles
      assetiles/__pycache__
    # cogs
      **/cogs
    #scrapFiles
      scrapFiles/unusedCommands.py