# Personal Discord Token
assetFiles/config.py

# Folder Stuff
  # Root
    work_log.txt
    # assetFiles
      assetiles/__pycache__
    # cogs
      cogs/__pycache__
      cogs/cog_example.py
      /cogs
    #scrapFiles
      scrapFiles/unusedCommands.py